html {
	padding: 0;
	margin: 0;
	height: 100%;
}
body {
	background: black;
	color: white;
	font: 20px sans-serif;
	padding: 0;
	margin: 0;
}
canvas {
	display: block;
	margin: auto;
}
button {
	display: block;
	width: 20em;
	margin: auto;
	border-radius: 20px;
	font-size: 20px;
	cursor: pointer;
}
p {
	margin: 2em;
}