html {
	padding: 0;
	margin: 0;
	height: 100%;
}
body {
	background: black;
	padding: 0;
	margin: 0;
}
canvas {
	display: block;
	margin: auto;
}
#menu{
 color: white;
}
button {
 display: block;
 width: 20em;
 margin: auto;
 border-radius: 20px;
 font-size: 20px;
 cursor: pointer;
}
p:first-of-type {
 padding: 2em;
 font: 20px sans-serif
}